.featured-info-wrapper {
  /* padding-top: 2rem; */
  border-radius: 0 500px 500px 0;
}

.featured-info-outer {
  padding-left: 7.5vw;
  height: 70.5vh;
  position: relative;
  /* background-size: cover !important; */
  background-color: var(--bg-color-2);
  clip-path: circle(20% at 15% 50%);
  border-top-right-radius: 50vh;
  border-bottom-right-radius: 50vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease;
  overflow: hidden;
}
.featured-info-outer-animate {
  visibility: visible;
  opacity: 1;
  animation: animateCircle 4s ease-in-out;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.featured-info-outer-open {
  visibility: visible;
  opacity: 1;
  clip-path: circle(100% at 30% 50%);
}
@keyframes animateCircle {
  0% {
    clip-path: circle(20% at 15% 50%);
  }
  30% {
    clip-path: circle(20% at 25% 50%);
  }
  60% {
    clip-path: circle(20% at -8% 50%);
  }
  65% {
    clip-path: circle(20% at -8% 50%);
  }
  100% {
    clip-path: circle(100% at 30% 50%);
  }
}
.featured-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.2s linear;
  width: 85vw;
  height: 100%;
  /* transform: translateY(-4%); */
}
.featured-info-container:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.featured-info-container-animate {
  animation: animateContainer 0.4s ease-in-out 4.6s;
  animation-fill-mode: forwards;
}
.featured-info-container-animate-sec {
  animation: animateContainer 0.4s ease-in-out 2s;
  animation-fill-mode: forwards;
}
@keyframes animateContainer {
  from {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  to {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

.featured-info {
  flex-basis: 55%;
}
.featured-info img {
  height: auto;
  width: 15rem;
  margin-bottom: 2rem;
    aspect-ratio: 1.5;
}
.featured-info a {
  font-size: 3rem;
}

.featured-subtext {
  color: var(--text-color-2);
  font-size: 3.5rem;
  font-weight: bold;
  width: 90%;
  margin-bottom: 7rem;
}

.featured-graphics {
  flex-basis: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.featured-graphics img {
  width: auto;
  height: 80%;
  aspect-ratio: 1;
  transform: rotate(-15deg) translateY(25%) translateX(-35%);
  transition: all 0.2s ease-in-out;
}
.featured-info-container:hover .featured-graphics img {
  transform: rotate(-15deg) translateY(20%) translateX(-35%);
}
.featured-sunction-bubble {
  background-color: var(--bg-color);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  /* top: -2%; */
  transition: left 0.2s ease-in-out;
}
@media only screen and (max-width: 1360px) {
  .featured-graphics img {
    height: 70%;
    width: auto;
    aspect-ratio: 1;
    transform: rotate(-15deg) translateY(25%) translateX(-15%);
  }
  .featured-info-container:hover .featured-graphics img {
    transform: rotate(-15deg) translateY(20%) translateX(-15%);
  }
}
@media only screen and (max-width: 800px) {
  .featured-info-container {
    width: 70vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: unset;
    overflow: unset;
  }
  .featured-info-outer {
    padding-left: 5vw;
    height: unset;
    overflow: hidden;
    padding: 2rem 2rem 0;
    min-height: 65vh;
    /* background-size: cover !important; */
    border-top-right-radius: unset;
    border-bottom-left-radius: 50vh;
    /* padding-bottom: 7vh; */
  }
  .featured-info a {
    font-size: 1.6rem;
  }

  .featured-info img {
    width: auto;
    height: 6.5rem;
    margin-bottom: 1.8rem;
    aspect-ratio: 1.5;
  }
  .featured-subtext {
    font-size: 1.65rem;
    margin-bottom: 2rem;
    width: 100%;
  }
  .featured-info {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 7vh;
  }
  .featured-graphics {
    flex-basis: 100%;
    height: 45%;
    transform: translateY(10%);
  }
  .featured-graphics img {
    width: 22rem;
    height: auto;
    transform: rotate(-10deg) translateY(5%);
    transition: all 0.2s ease-in-out;
    aspect-ratio: 1;
  }
  .featured-info-container:hover .featured-graphics img {
    transform: rotate(-10deg) translateY(0%);
  }
}
