.process {
  min-height: 100vh;
  width: 100vw;
  padding: 0 7.5vw;
  margin: 0 auto;
}
.process-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15vh;
  position: relative;
}
.process-timeline {
  background-color: var(--text-color);
  width: 3px;
}
.process-timeline-animate {
  animation: animatePath 8s linear;
  animation-fill-mode: forwards;
  animation-delay: 4.2s;
  margin-bottom: 30vh;
}
@keyframes animatePath {
  0% {
    height: 0;
  }
  13%,
  16% {
    height: 41rem;
  }
  33%,
  36% {
    height: 80rem;
  }
  56%,
  58% {
    height: 120rem;
  }
  80%,
  82% {
    height: 160rem;
  }
  100% {
    height: 200rem;
  }
}
.process-timeline-dot {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-height: 4.8rem;
  min-width: 4.8rem;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.8);
  border: 1rem solid var(--text-color);
  border-radius: 50%;
  opacity: 0;
}
.process-timeline-dot-animate {
  animation: pulse 4s ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 0 var(--box-shadow-light);
  }
  35% {
    opacity: 1;
    box-shadow: 0 0 0 10px var(--box-shadow-dark);
  }
  50% {
    box-shadow: 0 0 0 0 var(--box-shadow-dark);
    opacity: 1;
  }
  55% {
    opacity: 1;
    box-shadow: 0 0 0 0 var(--box-shadow-light);
  }
  80% {
    opacity: 1;
    box-shadow: 0 0 0 10px var(--box-shadow-dark);
  }
  100% {
    box-shadow: 0 0 0 0 var(--box-shadow-dark);
    opacity: 0;
  }
}
.sub-process {
  position: absolute;
  left: 49.25%;
  display: flex;
  align-items: flex-start;
  width: 40vw;
  opacity: 0;
}
.sub-process-animate {
  animation: animateProcess 0.2s linear;
  animation-fill-mode: forwards;
}

@keyframes animateProcess {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.timeline-dot {
  min-height: 2.4rem;
  min-width: 2.4rem;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-right: 4rem;
}
.path-info {
  margin-top: -1.5rem;
}
.path-info h4 {
  font-size: 4.2rem;
  transition: font-size 0.2s linear;
}
.path-info h4:hover {
  font-size: 4.5rem;
}
.path-info p {
  font-size: 3.5rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}
.left-side {
  flex-direction: row-reverse;
  right: 49.25%;
  left: unset;
  text-align: right;
}
.left-side .timeline-dot {
  margin-right: unset;
  margin-left: 4rem;
}
.right-side-1 {
  top: 0;
  animation-delay: 3.9s;
}
.right-side-2 {
  top: 80rem;
  animation-delay: 6.8s;
}
.right-side-3 {
  top: 160rem;
  animation-delay: 10.7s;
}
.left-side-1 {
  top: 40rem;
  animation-delay: 5.3s;
}
.left-side-2 {
  top: 120rem;
  animation-delay: 8.7s;
}
.left-side-3 {
  top: 200rem;
  animation-delay: 12.2s;
}
.show {
  opacity: 1 !important;
}

@media only screen and (max-width: 1360px) {
  .sub-process {
    left: 49.3%;
  }
  .left-side {
    left: unset;
    right: 49.3%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .sub-process {
    left: 49.2%;
  }
  .left-side {
    left: unset;
    right: 49.1%;
  }
}
@media only screen and (max-width: 800px) {
  .process {
    margin-top: 10rem;
    overflow: hidden;
  }
  .path-info {
    text-align: left;
    margin-top: unset;
  }
  .path-info h4 {
    font-size: 2.1rem;
  }
  .path-info h4:hover {
    font-size: 2.3rem;
  }
  .path-info p {
    font-size: 1.6rem;
    margin-top: 1rem;
  }
  .process-timeline-dot {
    left: 10%;
    transform: translateX(-10%);
    min-height: 4.8rem;
    min-width: 4.8rem;
    border: 1rem solid var(--text-color);
    border-radius: 50%;
    opacity: 0;
  }
  .process-container {
    padding-left: 15%;
    align-items: flex-start;
    flex-direction: column;
    transform: translateX(30vw);
  }
  .process-container-animate {
    animation: animateLeft 2s ease-in-out 4.1s;
    animation-fill-mode: forwards;
  }
  @keyframes animateLeft {
    from {
      transform: translateX(30vw);
    }
    to {
      transform: translateX(0vw);
    }
  }
  .service-container {
    margin: 10vh 0 0rem;
  }
  .left-side {
    flex-direction: row;
    right: unset;
  }
  .sub-process {
    position: absolute;
    left: 12%;
    display: flex;
    align-items: flex-start;
    width: unset;
  }
  .left-side .timeline-dot {
    margin-right: 2rem;
    margin-left: 0rem;
  }
  .timeline-dot {
    min-height: 2.4rem;
    min-width: 2.4rem;
    background-color: var(--text-color);
    border-radius: 50%;
    margin-right: 2rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .sub-process {
    left: 12.8%;
  }
}
