.form {
  width: 100%;
  margin-top: 5rem;
}
.form-container {
  transform: translateY(0);
  transition: all 0.2s linear;
}
.form-container-change {
  transform: translateY(22vh);
}

.FormOptionHeading {
  font-size: 3.7rem;
  font-weight: bold;
  color: #363636;
  margin: 4rem 0;
}
.form-field-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  animation: animateField 0.4s ease-in-out;
  // opacity: 0;
  animation-fill-mode: backwards;
}
.form-field-container {
  margin-bottom: 5rem;
}
// .form-field:nth-of-type(1) {
//   opacity: 1;
// }
// .field-container {
//   display: flex;
//   flex-direction: column;
//   opacity: 1 !important;
// }
.form-field {
  flex-basis: 100%;
}
.form-field-10 {
  flex-basis: 10%;
}
.form-field-85 {
  flex-basis: 85%;
}
.form-field-row {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
}
.form-field-container label {
  top: 20%;
  left: 2%;
}
.input-error {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--text-color);
  margin-top: 1rem;
}

.message-field {
  margin-top: 10rem !important;
}
.logo-container {
  margin-top: 6rem;
  display: grid;
  place-content: center;
  position: relative;
}
.logo-container .updot-img {
  width: auto;
  height: 60rem;
  filter: var(--filter);
  object-fit: cover;
}
.logo-container .updot-magnet-img {
  position: absolute;
  width: auto;
  height: 55.8rem;
  object-fit: cover;
  bottom: 0;
  left: 49.99%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.2s ease;
  pointer-events: none;
  user-select: none;
}
.updot-img:hover ~ .updot-magnet-img {
  opacity: 1;
}
.standby-message {
  text-align: center;
  font-size: 2.3rem;
  font-weight: 600;
  opacity: 0;
  transition: all 0.6s linear;
  margin-top: 2rem;
}
.standby-message-show {
  opacity: 1;
}
.hide {
  display: none;
}
.btn-submit {
  border: unset;
  position: relative;
  border-bottom: 2px solid var(--text-color);
  padding-bottom: 0rem;
}
// .btn-submit::after {
//   content: "";
//   display: inline-block;
//   background-color: var(--text-color);
//   width: 10rem;
//   height: 1.5px;
//   position: absolute;
//   bottom: 0;
//   left: 0;
// }
.btn-newsletter {
  /* width: 35.5rem; */
  /* height: 3.3rem; */
}
.animate-btn {
  border-bottom: unset;
}
.animate-btn::after {
  animation: animateBtn 4s linear;
  transform-origin: left;
  animation-fill-mode: forwards;
}
@keyframes animateBtn {
  0% {
    left: 0;
  }
  60% {
    left: 48vw;
    transform: rotate(0deg);
    bottom: 0;
  }
  80% {
    left: 62vw;
    bottom: -15vh;
    transform: rotate(180deg);
  }
  100% {
    left: 52vw;
    bottom: -15vh;
    transform: rotate(180deg);
  }
}
/* .animate-btn div {
  animation: animateLetterOuter 4s linear;
  animation-fill-mode: forwards;
}
.animate-btn div span {
  animation: animateLetter 4s ease-in-out;
  animation-fill-mode: forwards;
} */
.animate-btn-2 {
  border-bottom: unset;
}
.animate-btn-2 div {
  animation: animateLetterOuter2 4s linear;
  animation-fill-mode: forwards;
}
.animate-btn-2 div span {
  animation: animateLetter2 4s ease-in-out;
  animation-fill-mode: forwards;
}

.btn-inner-1 {
  top: 0;
  left: 0;
  animation-delay: 4s !important;
}
.btn-inner-2 {
  top: 0;
  left: 18%;
  animation-delay: 4.65s !important;
}
.btn-inner-3 {
  top: 0;
  left: 36%;
  animation-delay: 5.3s !important;
}
.btn-inner-4 {
  top: 0;
  left: 54%;
  animation-delay: 5.95s !important;
}
.btn-inner-5 {
  top: 0;
  left: 82%;
  animation-delay: 6.6s !important;
}

.btn-inner-6 {
  top: 0;
  left: 92%;
  animation-delay: 7.25s !important;
}
.btn-inner-1 span {
  animation-delay: 4s !important;
}
.btn-inner-2 span {
  animation-delay: 4.65s !important;
}
.btn-inner-3 span {
  animation-delay: 5.3s !important;
}
.btn-inner-4 span {
  animation-delay: 5.95s !important;
}
.btn-inner-5 span {
  animation-delay: 6.6s !important;
}

.btn-inner-6 span {
  animation-delay: 7.25s !important;
}
@keyframes animateLetter {
  0% {
    transform: translateY(0);
  }

  33% {
    transform: translateY(20vh);
  }
  66% {
    transform: translateY(0vh);
  }

  100% {
    transform: translateY(15vh);
  }
}
@keyframes animateLetterOuter {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(1vw);
  }
  100% {
    transform: translateX(48vw);
  }
}

.animate-field-1 {
  animation-delay: 0;
}
.animate-field-2 {
  animation-delay: 0.4s;
}
.animate-field-3 {
  animation-delay: 0.6s;
}
.animate-field-4 {
  animation-delay: 0.8s;
}
.animate-field-5 {
  animation-delay: 1s;
}
.animate-field-6 {
  animation-delay: 1.2s;
}
.animate-field-7 {
  animation-delay: 1.4s;
}
.animate-field-8 {
  animation-delay: 1.6s;
}
.animate-field-9 {
  animation-delay: 1.8s;
}
.animate-field-10 {
  animation-delay: 2s;
}
@keyframes animateField {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.file-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.file-input-container {
  width: 87%;
  display: flex;
  justify-content: space-between;
}
.btn-container {
  margin-right: 5rem;
}
.btn-container button {
  color: var(--fade-black) !important;
  border-color: var(--fade-black) !important;
}
.hide-border-bottom {
  border: unset !important;
}
.h-captcha {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 800px) {
  .form {
    margin-top: 1.5rem;
  }
  .form-container-change {
    transform: translateY(10vh);
  }
  .form-field-container {
    margin-bottom: 2rem;
  }
  .form-field-10 {
    flex-basis: 100%;
    margin-bottom: 2rem;
  }
  .form-field-85 {
    flex-basis: 100%;
  }
  .form-field-row-mobile {
    flex-direction: column !important;
  }
  .form-field-row-mobile .btn-container {
    margin-bottom: 2rem;
  }
  .btn-submit {
    width: 6rem;
    height: 2.3rem;
  }
  .btn-submit::after {
    width: 6rem;
  }
  .btn-newsletter {
    /* width: 16rem;
    height: 2.3rem; */
  }
  .form-field-2 {
    grid-template-columns: 25% 70%;
  }
  .FormOptionHeading {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem 0;
  }
  .file-container {
    flex-direction: column;
  }
  .file-container button {
    margin-bottom: 1.5rem;
  }
  .file-input-container {
    width: 100%;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 2rem;
  }
  .input-error {
    font-size: 1rem;
  }
  .form-field-9 {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  .standby-message {
    font-size: 1.3rem;
    margin-top: 2rem;
  }
  .form-field:not(:last-of-type) {
    margin-bottom: 1.55rem;
  }
  .logo-container .updot-img {
    width: auto;
    height: 23.5rem;
    filter: var(--filter);
    object-fit: cover;
  }
  .logo-container .updot-magnet-img {
    position: absolute;
    width: auto;
    height: 22rem;
    object-fit: cover;
    bottom: 0;
    left: 48.99%;
    transform: translateX(-48.5%);
    opacity: 0;
    transition: all 0.2s ease;
    pointer-events: none;
    user-select: none;
  }
  @keyframes animateLetter {
    0% {
      transform: translateY(0);
    }

    33% {
      transform: translateY(5vh);
    }
    66% {
      transform: translateY(0vh);
    }

    100% {
      transform: translateY(14vh);
    }
  }
  @keyframes animateLetter2 {
    0% {
      transform: translateY(0);
    }

    33% {
      transform: translateY(10vh);
    }
    66% {
      transform: translateY(0vh);
    }

    100% {
      transform: translateY(15vh);
    }
  }
  @keyframes animateLetterOuter {
    0% {
      transform: translateX(0);
    }
    5% {
      transform: translateX(1vw);
    }
    100% {
      transform: translateX(48vw);
    }
  }
  @keyframes animateLetterOuter2 {
    0% {
      transform: translateX(0);
    }
    5% {
      transform: translateX(-1vw);
    }
    100% {
      left: 0;
      transform: translateX(10vw);
    }
  }
  .file-container {
    margin-bottom: 1rem !important;
  }
  .file-container button {
    margin-bottom: 1rem;
  }
  .message-field {
    margin-top: 5rem !important;
    margin-bottom: 0.5rem !important;
  }
}
