.map-outer {
  background-color: #fff;
  padding-bottom: 2vh;
}
.map-outer::after {
  content: "";
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  height: 6rem;
  width: 6rem;
  background-color: var(--text-color);
  position: absolute;
  left: 43%;
}
@media only screen and (max-width: 800px) {
  .map-outer::after {
    left: 15%;
  }
}
