.map-outer {
  background-color: var(--text-color);
  padding-bottom: 2vh;
}
.map {
  height: 80vh;
  width: 100vw;
}
.map-outer::after {
  content: "";
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  height: 6rem;
  width: 6rem;
  background-color: var(--text-color);
  position: absolute;
  left: 43%;
  z-index: 9;
}
@media only screen and (max-width: 800px) {
  .map-outer {
    padding-bottom: 0.8rem;
    margin-bottom: -2rem;
  }
  .map-outer::after {
    left: 15%;
    height: 3rem;
    width: 3rem;
  }
  .map {
    height: 51.5rem;
  }
}
