.faq-qn-container {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}
.faq-qn-container:not(:last-of-type) {
  margin-bottom: 2rem;
}
.faq-qn {
  font-size: 4.5rem;
  font-weight: bold;
  color: var(--text-color);
  flex-basis: max-content;
  pointer-events: none;
}
.faq-arrow {
  min-height: 100%;
  display: inline-block;
  color: var(--text-color);
  flex-basis: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2rem;
  /* transform: translateY(-10%); */
  pointer-events: none;
}
.faq-arrow img {
  height: auto;
  width: 4rem;
  filter: var(--filter);
}
.faq-ans {
  font-size: 4rem;
  color: var(--text-color);
  font-weight: bold;
  width: 90%;
  height: 100%;
}
.faq-ans-container {
  overflow: hidden;
  max-height: 0px;
  transition: all 0.2s;
  margin-bottom: 1rem;
}
.faq-ans-expend {
  max-height: 160px;
}
