.blog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  padding: 0 7.5vw;
  margin: 0 auto;
}
.blog-header form {
  /* flex-basis: 48%; */
}

@media only screen and (max-width: 800px) {
  .blog-nav {
    margin-left: 3rem;
  }
}
