.privacy {
  padding-top: 25vh;
}
.privacy-container h2 {
  margin-bottom: 2rem;
}
.privacy-container-1 h2 {
  margin-bottom: 10vh;
}
.privacy-container-1,
.privacy-container {
  margin-bottom: 15rem;
}
.para-container p {
  font-size: 3rem;
  font-weight: bold;
  margin: 4rem 0;
}
