.newsletter {
  height: 65vh;
  width: 100vw;
  padding: 0 7.5vw 10vh;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  column-gap: 10%;
  margin-top: -2rem;
  position: relative;
  background-color: var(--bg-color);
}
.newsletter-container {
  flex-basis: 50%;
}
.connect-btn {
  padding: 0 7.5vw;
  padding-top: 10vh;
  margin-bottom: -15vh;
  position: relative;
  background-color: var(--bg-color);
  z-index: 99;
}
.connect-btn a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.connect-btn a img {
  filter: var(--filter);
  height: 4rem;
  width: auto;
  margin-left: 6rem;
}
.newsletter-heading,
.connect-btn a {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 4rem;
}
.newsletter-logo {
  flex-basis: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.newsletter-logo img {
  height: 100%;
  width: auto;
  transform: translateX(-10%);
  filter: var(--filter);
  z-index: 100;
}
.newsletter-form {
  position: relative;
}
.newsletter-btn-container {
  position: absolute;
  right: 0;
  top: 0%;
  display: flex;
  justify-content: space-between;
}
.newsletter-submit-message,
.newsletter-error-message {
  position: absolute;
  left: 0;
  margin-top: 2rem;
  font-size: 2rem;
  // font-weight: 600;
  max-width: 50%;
  padding-bottom: 2rem;
}
.newsletter-submit-message {
  color: var(--success);
}
.newsletter-error-message {
  color: var(--warning);
}
.newsletter-info {
  position: absolute;
  right: 0;
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
}
.subs-btn {
  background-color: var(--bg-color-4);
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: none;
  border-radius: 10px;
  padding: 2.4rem 4rem;
}
.subs-done-btn {
  background-color: var(--bg-color-2);
  color: #000;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: none;
  border-radius: 10px;
  padding: 2.4rem 4rem;
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .newsletter-logo img {
    height: 95%;
    width: auto;
    aspect-ratio: 1;
  }
}

@media only screen and (max-width: 800px) {
  .newsletter {
    padding: 0 7.5vw 0vh;
    margin-top: unset;
  }
  .newsletter-container {
    flex-basis: 100%;
    width: 100%;
  }
  .connect-btn {
    padding-top: 0;
    margin-top: 15vh;
    margin-bottom: unset;
  }
  .newsletter-heading,
  .connect-btn a {
    font-size: 2rem;
  }
  .newsletter-heading {
    margin-bottom: 2rem;
  }
  .connect-btn a img {
    height: 2rem;
    width: auto;
    aspect-ratio: 1;
    margin-left: 2.5rem;
  }
  .newsletter {
    flex-direction: column;
    height: unset;
    align-items: center;
  }
  .newsletter-info {
    font-size: 0.8rem;
    margin-top: 1rem;
    max-width: 30%;
    text-align: right;
  }
  .newsletter-submit-message,
  .newsletter-error-message {
    position: absolute;
    left: 0;
    font-weight: normal;
    margin-top: 1rem;
    font-size: 1rem;
    max-width: 65%;
  }
  .newsletter-logo {
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
  }

  .newsletter-logo img {
    transform: unset;
    height: 19.5rem;
    width: auto;
    aspect-ratio: 1;
  }

  .subs-btn {
    font-size: 1.3rem;
    border-radius: 10px;
    padding: 0.7rem 1rem;
  }
  .subs-done-btn {
    font-size: 1.3rem;
    border-radius: 10px;
    padding: 0.7rem 1rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .newsletter-logo img {
    height: 25.5rem;
    width: auto;
    aspect-ratio: 1;
  }
}
