.client {
  height: 25rem;
  width: 25rem;
  background-color: var(--bg-color-2);
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
}
.client img {
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
  filter: grayscale(100%);
  padding: 10px;
}
.client:hover img {
  filter: grayscale(0);
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 800px) {
  .client {
    height: 13rem;
    width: 13rem;
  }
  .client img {
    width: 8rem;
    height: auto;
    aspect-ratio: 1;
  }
}
