.client {
  height: 25rem;
  width: 25rem;
  background-color: var(--bg-color-2);
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: absolute;
}
.client img {
  height: auto;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 800px) {
  .client {
    height: 13rem;
    width: 13rem;
  }
  .client img {
    width: 8rem;
  }
}
