.clients {
  min-height: 100vh;
  width: 100vw;
  padding: 10vh 7.5vw;
  position: relative;
  background-color: var(--bg-color);
  z-index: 9;
}
.client-loc-1,
.client-loc-4,
.client-loc-5 {
  height: 30rem;
  width: 30rem;
}

.client-loc-1 img,
.client-loc-4 img,
.client-loc-5 img {
  height: auto;
  width: 15rem;
}
.client-loc-1,
.client-loc-6 {
  animation: animateClient1 4s ease-in-out 0.2s infinite alternate;
}
.client-loc-2,
.client-loc-3,
.client-loc-5 {
  animation: animateClient2 6s ease-in-out 0.2s infinite alternate;
}

.client-loc-4,
.client-loc-7 {
  animation: animateClient3 2s ease-in-out infinite alternate-reverse;
}

.client-loc-1 {
  top: 38%;
  left: 7%;
}
.client-loc-2 {
  top: 28%;
  left: 28%;
}
.client-loc-3 {
  top: 33%;
  left: 62%;
}
.client-loc-4 {
  top: 48%;
  right: 41%;
}
.client-loc-5 {
  right: 3%;
  top: 38%;
}
.client-loc-6 {
  right: 21%;
  bottom: 7%;
}
.client-loc-7 {
  bottom: 7%;
  left: 25%;
}
@keyframes animateClient1 {
  0% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(-5%);
  }
}

@keyframes animateClient2 {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(5%);
  }
}
@keyframes animateClient3 {
  0% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(2%);
  }
}

@keyframes animateFloat {
  0% {
    transform: translateX(0vw);
    opacity: 1;
  }
  90% {
    transform: translateX(100vw);
  }
}

@media only screen and (max-width: 800px) {
  .clients {
    padding: 15vh 5vw;
    min-height: 120vh;
    margin-bottom: 30vh;
  }
  .client-loc-1,
  .client-loc-4,
  .client-loc-5 {
    height: 15rem;
    width: 15rem;
  }

  .client-loc-1 img,
  .client-loc-4 img,
  .client-loc-5 img {
    height: auto;
    width: 8rem;
  }
  .client-loc-1 {
    top: 25%;
    left: 6%;
  }
  .client-loc-2 {
    top: 20%;
    right: 7%;
    left: unset;
  }
  .client-loc-3 {
    top: 39%;
    left: unset;
    right: 15%;
  }
  .client-loc-4 {
    top: 47%;
    right: unset;
    left: 13%;
  }
  .client-loc-5 {
    right: 9%;
    top: 60%;
  }
  .client-loc-6 {
    right: 13%;
    bottom: 8%;
  }
  .client-loc-7 {
    bottom: 15%;
    left: 8%;
  }
  .big {
    height: 40vw;
    width: 40vw;
  }
  .big img {
    height: 22vw;
    width: auto;
  }
  .mid {
    height: 35vw;
    width: 35vw;
  }
  .mid img {
    height: 15vw;
    width: auto;
  }
  .small {
    height: 30vw;
    width: 30vw;
  }
  .small img {
    height: 14vw;
    width: auto;
  }
}
