.social-outer {
  width: 100vw;
  padding: 10vh 7.5vw;
  margin: 0 auto 10rem;
}
.social-container {
  display: flex;
  align-items: center;
  column-gap: 5rem;
  margin-top: 10rem;
}
.social-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 4rem;
  transition: all 0.2s linear;
  font-weight: 600;
  backface-visibility: none;
}
.social-container a img {
  height: 3.6rem;
  width: auto;
  transition: all 0.2s linear;
  backface-visibility: none;
}
.social-container a:hover img {
  transform: scale(1.05);
}
@media only screen and (max-width: 800px) {
  .social-outer {
    margin-top: 10vh;
    margin-bottom: 5vh;
  }
  .social-container {
    display: flex;
    column-gap: 2rem;
    row-gap: 2rem;
    flex-wrap: wrap;
    padding-right: 20vw;
    margin-top: 5rem;
  }
  .social-container a {
    font-size: 1.6rem;
  }
  .social-container a img {
    height: 2rem;
    width: auto;
  }
}
