// .section-heading {
//   display: none;
//   padding: 0 7.5vw;
//   color: var(--text-color);
//   font-weight: bold;
// }
.scroll-area {
  width: 1000%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.skill-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 10vh 7.5vw 10vh;
  justify-content: flex-start;
}
.swiper-skills-section {
  display: none;
}
.scroll-navigator {
  display: none;
}
@media (max-width: 800px) {
  .skills-section {
    display: none;
  }
  .swiper-skills-section {
    display: block;
  }
  .skill-container {
    height: 100%;
    padding: 10vh 0vw 0vh;
  }
  .section-heading {
    display: block;
    line-height: 1.14;
    font-size: 4.2rem;
    padding: 0rem 7.5vw;
  }
  .swiper-container {
    width: 100vw;
    margin-left: 10px;
    margin-right: 10px;
  }
  .swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
}
