.skill {
  display: flex;
  align-items: center;
  width: 90vw;
  margin: 0 auto;
}
.skill-text {
  display: grid;
  place-content: center;
  flex-basis: 50%;
}
.skill-heading {
  font-size: 5.5rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 2rem;
}
.skill-para {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--text-color);
}

.skill-icon {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-basis: 50%;
  margin-left: auto;
  height: 100%;
}
.skill-icon img {
  width: auto;
  height: 22rem;
  filter: var(--filter);
}
.skip-wrap {
  position: absolute;
  right: 24rem;
  span {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .skill {
    width: 100vw;
  }
  .skill-icon {
    transform: translateY(-20%);
    margin-left: 2%;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 800px) {
  .skill {
    flex-direction: column;
    height: unset;
    min-height: 60%;
    // width: 100%;
    padding: 0 0vw;
  }
  .skill-text {
    display: grid;
    place-content: end;
    flex-basis: 50%;
  }
  .skill-heading {
    // margin-top: 2rem;
    font-size: 2.2rem;
    // margin-bottom: 1.4rem;
  }
  .skill-para {
    font-size: 1.7rem;
  }
  .skip-wrap {
    display: none;
  }
  .skill-icon {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    margin-left: unset;
  }
  .skill-icon img {
    width: auto;
    height: 10.5rem;
    object-fit: cover;
  }
}
