.skill-container {
  display: flex;
  /* transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left; */
  /* overflow-x: scroll; */
}
.skills-inner-cotnainer {
  position: relative;
  /* width: 800vw; */
  display: flex;
}
.skill-inner {
  width: 100vw;
  height: 100vh;
  padding: 20vh 7.5vw 10vh;
}
.arrow .down-arrow {
  transform: rotate(180deg);
  filter: var(--filter);
}

.arrow {
  padding-top: 20vh;
  padding-right: 3vw;
  display: flex;
  justify-content: flex-end;
}
.arrow img {
  height: auto;
  z-index: 999;
  width: 3rem;
}

@media only screen and (max-width: 800px) {
  .skill-inner {
    height: unset;
    padding: 3vh 7.5vw;
    min-height: unset;
    min-width: 100vw;
  }
  .skills-inner-cotnainer {
    overflow: scroll;
  }
  .skills-inner-cotnainer::-webkit-scrollbar {
    display: none;
  }
}
