.skill {
  display: flex;
  height: 60%;
  width: 85vw;
  margin: 0 auto;
}
.skill-text {
  display: grid;
  place-content: end;
  flex-basis: 50%;
}
.skill-heading {
  font-size: 5.5rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 2rem;
}
.skill-para {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--text-color);
}

.skill-icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-basis: 20%;
  margin-left: auto;
}
.skill-icon img {
  width: auto;
  height: 55%;
}
