.skill-container {
  display: flex;
  /* transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left; */
  /* overflow-x: scroll; */
}
.skills-inner-cotnainer {
  position: relative;
  /* width: 800vw; */
  display: flex;
}
.skill-inner {
  width: 100vw;
  height: 100vh;
  padding: 10vh 7.5vw;
}

@media only screen and (max-width: 800px) {
  .skill-inner {
    height: unset;
    padding: 3vh 7.5vw;
    min-height: unset;
    min-width: 100vw;
  }
}
