.dropdown {
  // border-left: 1px solid var(--input-border-fade);
  // border-bottom: 1px solid var(--input-border-fade);
  position: relative;
  // background-color: #1d1d1d;
  outline: none;
  border: none;
}
fieldset {
  border: none;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  border-radius: 10px;
}

fieldset img {
  height: auto;
  width: 2.4rem;
  margin-left: 2px;
}
.dropdown-info {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 2rem 1rem;
  width: 100%;
  font-size: 2.6rem;
  // color: var(--input-label-color);
  pointer-events: none;
  user-select: none;
}
.dropdown-info::placeholder {
  font-weight: normal;
  font-size: 2.6rem;
  // color: var(--input-label-color);
}
.dropdown-outer {
  // background-color: rgba(67, 67, 67, 0.8);
  border-radius: 11px;
  position: absolute;
  max-height: 18rem;
  overflow-y: scroll;
  top: 103%;
  left: 0%;
  width: 100%;
  z-index: 99;
}
.dropdown-outer::-webkit-scrollbar {
  width: 0;
}

.dropdown-outer::-webkit-scrollbar-track {
  background: transparent !important;
}

.dropdown-outer::-webkit-scrollbar-thumb {
  background: transparent !important;
}

.dropdown-outer::-webkit-scrollbar-thumb:hover {
  background: transparent !important;
}
.dropdown-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  transition: all 0.2s;
}
.dropdown-options .option {
  position: relative;
  width: 100%;
  padding: 1.3rem 2rem;
  text-align: left;
  font-size: 2.6rem;
  transition: all 0.2s;
  font-weight: bold;
  // color: var(--text-color);
  // border-bottom: 2px solid var(--text-color);
  // background-color: var(--bg-color-4);
  border-radius: 11px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dropdown-options .btm-brdr {
  position: absolute;
  width: 100%;

  bottom: 0;
  height: 3px;
  background-color: var(--bg-color-2);
  max-width: 80%;
}
.dropdown-options .option:hover {
  /* background-color: #262626;
  color: #fff; */
}
.dropdown-outer-hide {
  height: 0px;
  overflow: hidden;
}
@media only screen and (max-width: 800px) {
  fieldset{
    margin-top: 10px;
  }
  .dropdown-info {
    font-size: 1.3rem;
        padding: 1rem 1rem;
  }
  .dropdown-outer {
    max-height: 11vh;
  }
  .dropdown-info::placeholder {
    font-size: 1.3rem;
  }
  .dropdown-options .option {
    font-size: 1.3rem;
  }
  fieldset img {
    width: 1.1rem;
    top: 50%;
    right: 3%;
    transform: translate(-3%, -50%);
  }
}
