.search-field {
  position: relative;
}
.dropdown-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.2s;
  z-index: 99;
  height: 20rem;
  border-radius: 8px;
  margin-top: 2px;
  // background-color: rgba(67, 67, 67, 0.8);
}
.dropdown-options::-webkit-scrollbar {
  width: 0;
}

.dropdown-options::-webkit-scrollbar-track {
  background: transparent !important;
}

.dropdown-options::-webkit-scrollbar-thumb {
  background: transparent !important;
}

.dropdown-options::-webkit-scrollbar-thumb:hover {
  background: transparent !important;
}
.dropdown-options .option {
  position: relative;
  width: 100%;
  padding: 1.6rem 2rem;
  text-align: left;
  transition: all 0.2s;
  font-weight: bold;
  // color: var(--text-color);
  // border-bottom: 2px solid var(--text-color);
  // background-color: var(--bg-color-4);
  border-radius: 8px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.dropdown-options .option span {
  font-size: 2rem;
}
.dropdown-options .btm-brdr {
  position: absolute;
  width: 100%;

  bottom: 0;
  height: 3px;
  background-color: var(--bg-color-2);
  max-width: 80%;
}
@media only screen and (max-width: 800px) {
  .dropdown-options {
    width: 100%;
    align-items: center;
  }
  .dropdown-options .option {
    position: relative;
    width: 100%;
    padding: 1.5rem;
    text-align: left;
    transition: all 0.2s;
    font-weight: bold;
    color: var(--text-color);
    border-radius: 8px;
  }
  .dropdown-options .option span {
    font-size: 1rem;
  }
}
