.container,
.container-para {
  width: 100vw;
  padding: 0 7.5vw;
  margin: 1.5rem 0;
  /* overflow-x: hidden; */
}
.container,
.container-para p {
  letter-spacing: 0.5px;
}
.container {
  min-height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-text {
  flex-basis: 58%;
}
.container-img {
  flex-basis: 38%;
  padding-right: 3%;
}
.container-img img {
  margin: 1rem 0;
  height: auto;
  width: 100%;
}
.image-container,
.image-container-2 {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image-container img {
  height: 100vh;
  width: 100%;
  /* object-fit: cover; */
  filter: var(--filter);
}
.image-container-2 img {
  height: 90vh;
  width: 47%;
  /* object-fit: cover; */
  filter: var(--filter);
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 0 7.5vw;
    min-height: unset;
  }
  .container,
  .container-para {
    margin: 1rem 0;
  }
  .image-container,
  .image-container-2 {
    margin: 1rem 0;
  }
  .image-container img {
    height: 17rem;
    width: 100%;
    /* object-fit: cover; */
    margin-top: 1rem !important;
  }
  .container-para {
    padding: 0 7.5vw;
    text-align: left;
  }
  .image-container-2 {
    flex-direction: column;
  }
  .image-container-2 img {
    height: 17rem;
    width: 100%;
    margin-top: 1rem !important;
    /* object-fit: cover; */
  }
  .image-container-2 img:nth-of-type(1) {
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .container-img {
    width: 100%;
  }
}
