.insight-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.insight-img-container {
  position: relative;
  padding: 5rem 0;
}
.insight-img-inner {
  transform: rotate(0deg);
}
.insight-img-inner img {
  height: auto;
  width: 66rem;
  border-radius: 50%;
  transform: rotate(0deg);
}

.insight-dot-animate-odd {
  animation: animateClockWise 8s linear infinite;
}
.insight-dot-animate-odd img {
  animation: animateAntiClockWise 8s linear infinite;
}
.insight-dot-animate-even {
  animation: animateAntiClockWise 8s linear infinite;
}
.insight-dot-animate-even img {
  animation: animateClockWise 8s linear infinite;
}
.insight-heading-container {
  flex-basis: 50%;
  text-decoration: none;
}
.insight-heading-container h1 {
  font-size: 5.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: left !important;
}
.insight-heading-container img {
  filter: var(--filter);
  width: auto;
  height: 2rem;
}
.dot {
  height: 5.6rem;
  width: 5.6rem;
  background-color: var(--text-color);
  border-radius: 50%;
  position: absolute;
  top: 0%;
  right: -5%;
  transition: all 2s ease;
  z-index: -1;
}
.insight-img-inner:hover {
  animation-play-state: paused;
}
.insight-img-inner img:hover {
  filter: brightness(50%);
}
.insight-img-inner img:hover + .dot {
  animation-play-state: paused;
  right: 40%;
  top: 40%;
  /* height: 0rem; */
}

.insight-img-inner:hover img {
  animation-play-state: paused;
}
@keyframes animateClockWise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes animateAntiClockWise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
