.featured {
  min-height: 100vh;
  width: 100vw;
  padding: 10vh 0;
  padding-right: 7.5vw;
  position: relative;
  background-color: var(--bg-color);
  z-index: 9;
}
.featured-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 7.5vw;
  margin-bottom: 7vh;
}
.featured-main {
  height: 73vh;
  width: 100%;
  position: relative;
  z-index: 10;
}

.featured-filter {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 11;
}
@media only screen and (max-width: 800px) {
  .featured {
    padding-right: unset;
    width: 85vw;
    margin: 0 auto;
  }
  .featured-header {
    flex-direction: column;
    align-items: flex-start;
    padding-left: unset;
  }
  .featured-main {
    height: unset;
    min-height: 75vh;
  }
}
