.home {
  height: 100vh;
  width: 90vw;
  margin: 0 auto;
  display: grid;
  place-content: center;
  position: relative;
}

.heading {
  font-size: 8rem;
  color: var(--text-color);
  user-select: none;
  display: flex;
  align-items: flex-end;
  transform: translateY(-23%);
}
.heading-video {
  margin-left: 3rem;
  display: inline-block;
  transform: translateY(20%);
}
.heading-video video {
  width: auto;
  height: 19rem;
  opacity: 0;
  transition: all 0.2s;
  animation: animateText 1s linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@keyframes animateText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scroll {
  color: var(--text-color);
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -5%);
}
.scroll-text {
  color: currentColor;
  font-weight: 500;
  font-size: 2.3rem;
}
.scroll-text::after {
  content: "\203A";
  font-size: 4rem;
  display: inline-block;
  transform: rotateZ(90deg);
  margin-left: 1rem;
  margin-top: 5px;
  animation: animateArrow 1s linear infinite;
}

@keyframes animateArrow {
  0% {
    transform: translateY(0px) rotateZ(90deg);
  }
  50% {
    transform: translateY(5px) rotateZ(90deg);
  }
  1000% {
    transform: translateY(0px) rotateZ(90deg);
  }
}
.services {
  position: absolute;
  width: 100%;
  bottom: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 2vw;
  row-gap: 2rem;
}

.services a {
  text-decoration: none;
  font-size: 3.5rem;
  font-weight: bold;
}

.service {
  position: absolute;
  bottom: 15%;
  width: 100%;
  text-align: center;
}
.service h3 {
  font-size: 6.5rem;
  font-weight: bold;
}
.swipe-text {
  display: none;
}
@media only screen and (max-width: 800px) {
  .heading {
    flex-direction: column;
    width: 60%;
    transform: translateY(5%);
    align-items: flex-start;
    padding-left: 5%;
    font-size: 6.4rem;
    line-height: 1.1;
  }
  .heading-video {
    transform: translateY(-20%);
    margin-left: unset;
  }
  .heading-video video {
    height: 13rem;
  }
  .scroll-text {
    display: none;
  }
  .swipe-text {
    display: block;
    color: currentColor;
    font-weight: 500;
    font-size: 1.4rem;
  }

  .scroll-text::after {
    font-size: 2rem;
    animation: unset;
  }
}
