.tech {
  height: 100vh;
  width: 100vw;
  padding: 10vh 7.5vw;
  margin: 0 auto;
}
.tech-container {
  display: flex;
  margin-top: 15vh;
  height: 60vh;
}
.tech-icon-container {
  position: relative;
  flex-basis: 80%;
}
.tech-nav-container {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-end;
}
