.join {
  margin-top: 20vh;
}

@media only screen and (max-width: 800px) {
  .join {
    padding: 10vh 2.5vw;
    height: unset;
    min-height: unset;
    margin-top: 17vh;
  }
  .join h2 {
    padding: 0 4vw;
  }
}
