.cursor-main {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #fff;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.1s ease-in-out;
  transition-property: width, height, border;
  will-change: width, height, transform, border;
  pointer-events: none;
  z-index: 9999999;
  mix-blend-mode: difference;
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.hovered {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 4px;
  transform: translate(-50%, -50%);
  transition: all 0.1s ease-in-out;
  transition-property: width, height, border;
  will-change: width, height, transform, border;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  @media screen and (max-width: 800px) {
    display: none;
  }
}
