@keyframes floating-animation {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 7%;
  }
}
@keyframes text-animation {
  0% {
    transform: translateY(50%);
  }
  50% {
    transform: translateY(0);
  }
}

.member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.member-img-container {
  position: relative;
  height: 20rem;
  width: 20rem;
}
.member-img-container .member-img-bg {
  position: absolute;
  display: inline-block;
  bottom: 0;
  background-color: #363636;
  width: 100%;
  height: 100%;
  border-radius: 500px;
  animation: floating-animation 4s ease-in-out infinite;
  animation-fill-mode: forwards;
  z-index: -1;
}
.member-img-container .img-wrapper {
  height: 20rem;
  width: 20rem;
  margin: auto;
}
.member-img-container .img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 500px;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%);
}

.member-text {
  text-align: center;
}

.name {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  transform: translateY(50%);
  animation: text-animation 4s ease-in-out infinite;
  animation-fill-mode: forwards;
}

.name a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  text-decoration: none;
}

.name a span {
  font-size: 2.2rem !important;
  font-weight: bold;
  transform: translateX(0);
  transition: all 0.4s ease;
  text-transform: capitalize;
}
.name a img {
  position: absolute;
  height: auto;
  width: 2.6rem;
  margin-top: -0.3rem;
  left: 0;
  opacity: 0;
  transition: all 0.4s ease;
}
.position {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 0.5rem;
  transform: translateY(50%);

  animation: text-animation 4s ease-in-out infinite;
  animation-fill-mode: forwards;
}
.member:hover img {
  filter: grayscale(0);
}
.member:hover .member-img-container .member-img-bg {
  animation-play-state: paused;
}
.member:hover .member-text .name {
  animation-play-state: paused;
}
.member:hover .member-text .position {
  animation-play-state: paused;
}
.member:hover .name a span {
  transform: translateX(2rem);
}
.member:hover .name a img {
  left: -2rem;
  opacity: 1;
}
@media only screen and (max-width: 800px) {
  .member-img-container {
    height: 10rem;
    width: 10rem;
  }
  /* .member-img-container .member-img-bg {
    height: 8.4rem;
    width: 8.4rem;
  }
  .member-img-container {
    margin-bottom: 0.7rem;
  }
  .member-img-container img {
    height: auto;
    width: 8.1rem;
    z-index: 1;
  } */
  .name a span {
    font-size: 1.2rem !important;
  }
  .name a img {
    width: 1.4rem;
    height: auto;
    margin-top: -0.3rem;
    left: 0;
    position: absolute;
    opacity: 0;
    transition: all 0.4s ease;
  }
  .member:hover .name a span {
    transform: translateX(1rem);
  }
  .member:hover .name a img {
    left: -1rem;
  }
  .position {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 0rem;
  }
}
