.form {
  width: 85vw;
  margin-top: 5rem;
}
.FormOptionHeading {
  font-size: 2.6rem;
  font-weight: bold;
  color: #363636;
  margin-bottom: 2rem;
}
.form-field {
  display: grid;
  align-items: flex-start;
  grid-auto-flow: column;
  justify-content: space-between;
}
.form-field h3 {
  font-size: 2.6rem;
  font-weight: 600;
  display: inline-block;
  color: var(--fade-black);
  margin-bottom: 1.5rem;
}
.field-container {
  display: flex;
  flex-direction: column;
}
.input-error {
  background-color: var(--warning);
  padding: 1.5rem;
  font-size: 2rem;
  font-weight: 400;
  color: var(--text-color);
  margin: 1rem 1rem;
  border-radius: 8px;
  width: fit-content;
}
.form-field:not(:last-of-type) {
  margin-bottom: 7rem;
}
.form-field-1,
.form-field-5 {
  grid-template-columns: 100%;
}
.form-field-2 {
  grid-template-columns: 10% 80%;
}
.form-field-3 {
  grid-template-columns: 48% 48%;
}
.form-field-4 {
  display: flex;
  flex-direction: column;
}
.file-input-container {
  display: flex;
}
.protfolio-container {
  margin-top: 2.3rem;
}
.protfolio-container h3 {
  font-weight: 700;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 800px) {
  .form {
    width: 90vw;
    margin: 0 auto;
  }
  .form-field-3 {
    grid-template-columns: 100%;
    row-gap: 1.55rem;
  }
  .form-field-2 {
    grid-template-columns: 20% 75%;
  }
  .form-field {
    grid-auto-flow: row;
  }
  .form-field:not(:last-of-type) {
    margin-bottom: 2rem;
  }
  .form-field h3 {
    font-size: 1.3rem;
  }
    .input-error {
      padding: 0.8rem;
      font-size: 1rem;
      font-weight: 400;
      color: var(--text-color);
      margin: 1rem 1rem;
      border-radius: 4px;
      width: fit-content;
    }
  .protfolio-container {
    margin-bottom: 3rem;
  }
  .protfolio-container-2 {
    margin-top: 0.5rem;
    margin-bottom: 1.7rem;
  }
  .protfolio-container h3 {
    margin-bottom: 1.5rem;
  }
}
