.footer {
  position: relative;
  min-height: 30vh;
  width: 100vw;
  padding: 2vh 7.5vw;
  padding-top: 10vh;
  background-color: var(--bg-color);
}
.footer a,
.footer h5,
.footer p {
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
}
.footer-top a,
.footer-top h3,
.footer-top p {
  font-size: 2.2rem;
  line-height: 1.4;
}
.footer-heading {
  font-weight: 600 !important;
  margin-bottom: 2rem;
}
.footer-top {
  margin-top: 7vh;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 20% 15% 25% 20% 15%;
  width: 100%;
  padding-bottom: 17vh;
  column-gap: 2%;
}
.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5vh;
}
.footer-link-container {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}
.follow {
  padding: 0 3rem;
}
.follow .footer-link {
  display: grid;
  place-content: center;
}
.ring .footer-link-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-link img {
  width: auto;
  height: 2rem;
  filter: var(--filter);
}
.footer-link img.insta-icon {
  height: 3rem;
  transform: translateY(15%);
}
.footer-bottom p,
.footer-bottom a,
span {
  font-size: 1.5rem;
}
.footer-bottom span {
  font-weight: bold;
  margin: 0 1rem;
}
.up-arrow-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.up-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-2);
  mix-blend-mode: difference;
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
}
.up-arrow svg path {
  stroke: var(--text-color-2);
  filter: var(--filter);
}
@media only screen and (max-width: 800px) {
  .footer {
    padding: 6rem 5vw 2vh;
  }
  .footer-top {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 60% 40%;
    width: 100%;
    padding-bottom: 5vh;
    column-gap: 0%;
    row-gap: 3rem;
  }
  .footer-heading {
    margin-bottom: 1rem;
  }
  .footer-link-container {
    flex-wrap: wrap;
  }
  .follow {
    padding: 0;
  }
  .footer-link img {
    width: 5rem;
    height: auto;
  }
  .follow .footer-link-container {
    row-gap: 0.5rem;
  }
  .footer-link img.insta-icon {
    height: auto;
    width: 6rem;
    transform: translateY(5%);
  }
  .footer-top a,
  .footer-top h3,
  .footer-top p {
    font-size: 1.1rem;
  }
  .footer-bottom {
    margin-bottom: 1vh;
  }
  .footer-bottom p,
  .footer-bottom a,
  span {
    font-size: 0.7rem;
  }
  .footer-bottom p {
    margin-top: 0.5rem;
  }
  .spot {
    grid-column: 1 / 2;
    grid-row: 1/ 2;
  }
  .ring {
    grid-column: 2/3;
    grid-row: 1 /2;
  }
  .up-arrow {
    grid-column: 2 / 3;
  }
  .up-arrow img {
    width: auto;
    height: 1.5rem;
    margin-top: 4rem;
  }
  .footer-bottom {
    align-items: center;
  }
}
