@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #000;
  --bg-color-2: #fff;
  --bg-color-3: rgba(64, 64, 64, 0.5);
  --text-color: #fff;
  --tech-icon-bg-color: #fff;
  --text-color-2: #000;
  --input-border-fade: rgba(255, 255, 255, 0.2);
  --input-border-dark: rgba(255, 255, 255, 0.9);
  --box-shadow-light: rgba(255, 255, 255, 0.8);
  --box-shadow-dark: rgba(255, 255, 255, 0);
  --fade-black: #363636;
  --nav-bg: rgb(235, 235, 235);
  --filter: invert(0);
}

:root,
a {
  cursor: none !important;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
input,
select,
textarea,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
body::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 5px;
  /* display: none; */
}

/* Track */
body::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  background: var(--bg-color) !important;
}

/* Handle */
body::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  background: var(--text-color) !important;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover {
  background: var(--text-color) !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  color: var(--text-color);
}
textarea {
  resize: none;
}
.container {
  min-height: 100vh;
  width: 100vw;
  padding: 10vh 7.5vw;
  margin: 0 auto;
}
.container-2 {
  width: 100vw;
  padding: 0 7.5vw;
  margin: 0 auto;
}
.btn,
.btn span {
  background-color: transparent;
  text-decoration: none;
  color: var(--text-color);
  font-size: 2.6rem;
  font-weight: bold;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--text-color);
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.hide-btn-underline {
  border-bottom-color: transparent !important;
}
.btn span {
  border-bottom: unset;
}
.btn-active {
  border-bottom: 2px solid var(--bg-color);
}

.btn .inner-btn,
.btn .inner-btn span {
  position: absolute;
}
.mousearrow-change {
  transform: rotate(-135deg) !important;
  border-radius: 30% 100% 100% 100% !important;
}
.mousearrow-change-up {
  transform: rotate(-135deg) !important;
  border-radius: 100% 100% 30% 100% !important;
}

.mt-3 {
  margin-top: 3vh;
}
.mt-5 {
  margin-top: 5vh;
}
.mapboxgl-ctrl-logo {
  display: none !important;
}
.hide {
  display: none !important;
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 1380px) {
  html {
    font-size: 40%;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 62.5%;
  }
  .btn,
  .btn span {
    font-size: 1.4rem;
  }
  .h-unset-mobile {
    min-height: unset !important;
    height: unset !important;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px) {
  html {
    font-size: 82.5%;
  }
}
#root {
  position: relative;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 990000;
  background: var(--bg-color-3);
  display: grid;
  place-content: center;
  padding: 1rem;
  overflow-y: scroll;
  overflow: hidden;
}
