.icon {
  background-color: #fff;
  display: inline-block;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
  position: absolute;
}
.icon svg {
  height: auto;
  width: 11rem;
  pointer-events: none;
}
.icon svg path,
.icon svg rect {
  transition: all 0.2s linear;
}

.react-icon {
  top: 0;
  left: 0;
  animation: animateClient1 4s ease-in-out infinite alternate;
}
.angular-icon {
  top: 30%;
  left: 20%;
  animation: animateClient2 4s ease-in-out infinite alternate;
}
.html-icon {
  top: 0;
  left: 40%;
  animation: animateClient1 4s ease-in-out infinite alternate;
}
.css-icon {
  top: 30%;
  left: 60%;
  animation: animateClient2 4s ease-in-out infinite alternate;
}
.js-icon {
  top: 0;
  left: 80%;
  animation: animateClient1 4s ease-in-out infinite alternate;
}
@keyframes animateClient1 {
  0% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(-5%);
  }
}

@keyframes animateClient2 {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(5%);
  }
}
@keyframes animateClient3 {
  0% {
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(2%);
  }
}
