.stroy-container {
  padding-top: 35vh;
  margin-bottom: 5vh;
}
.story-para {
  margin-top: 5rem;
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight: bold;
  width: 63vw;
}
@media only screen and (max-width: 800px) {
  .stroy-container {
    padding: 10vh 8vw 0;
    min-height: unset;
  }
  .stroy-container h2 {
    line-height: 1.15;
  }
  .story-para {
    margin-top: 2rem;
    line-height: 1.45;
    font-size: 1.55rem;
    width: 85vw;
  }
}
