.container,
.container-para {
  width: 100vw;
  padding: 0 7.5vw;
  margin: 1.5rem 0;
}
.container,
.container-para p {
  letter-spacing: 0.5px;
}
.container {
  min-height: 60vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-text {
  flex-basis: 58%;
}
.container-img {
  flex-basis: 38%;
  padding-right: 3%;
}
.container-img img {
  height: auto;
  width: 100%;
}
