.nav-container {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  position: absolute;
  overflow: hidden;
  animation: animateNav 0.4s ease-in;
}
@keyframes animateNav {
  0% {
    right: -100vw;
  }
  100% {
    right: 0;
  }
}
.nav-outer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav {
  height: 27vh;
  width: max-content;
  /* display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-auto-flow: row;
  align-items: flex-end;
  justify-items: end;
  column-gap: 5rem;
  row-gap: 4rem;
  padding-right: 3%;
  transform: translateY(-13%);
}
.nav-item-container {
  transition: all 0.2s linear;
}
.nav-item-container a {
  color: #fff;
  text-decoration: none;
}
.nav-item-container .nav-item {
  text-decoration: none;
  font-weight: bold;
  font-size: 7rem;
}
.sub-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 0;
  overflow: hidden;
  transition: all 0.2s linear;
}
.sub-nav .sub-nav-item {
  font-size: 2.2rem;
  font-weight: bold;
}
.sub-nav .sub-nav-item:not(:last-of-type) {
  margin-bottom: 1rem;
}
.nav-item-container:hover {
  transform: translateY(-20px);
}
/* .nav-item-container:hover .sub-nav {
  height: max-content;
} */

.socials {
  position: absolute;
  bottom: 5%;
  right: 3%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 2rem;
}
.socials img {
  height: auto;
  width: 10rem;
}

.close-btn {
  position: absolute;
  left: 17%;
  bottom: 25%;
  /* cursor: pointer; */
}
.close-btn img {
  pointer-events: none;
  height: auto;
  width: 5rem;
}
.insight {
  grid-column: -4/-3;
}
.about {
  grid-column: -3/-2;
}
.contact {
  grid-column: -2/-1;
}
