@keyframes floating-animation {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 5%;
  }
}
@keyframes text-animation {
  0% {
    transform: translateY(30%);
  }
  53% {
    transform: translateY(0);
  }
}

.team-container {
  margin-top: 10rem;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 20%);
  column-gap: 6.5%;
  row-gap: 5rem;
}

.join-team {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  transform: translateY(-2rem);
}

.join-team-container {
  position: relative;
  bottom: 0;
}
.join-team-container img {
  height: auto;
  width: 20rem;
  z-index: 1;
}
.join-team-container .join-img-bg {
  position: absolute;
  display: inline-block;
  width: 20rem;
  height: 20rem;
  bottom: 0;
  border-radius: 50%;
  background-color: #363636;
  animation: floating-animation 5s ease-in-out infinite;
  animation-fill-mode: forwards;
  z-index: -1;
}
.join-text {
  text-align: center;
  transform: translateY(30%);
  animation: text-animation 5s ease-in-out infinite;
  animation-fill-mode: forwards;
}

.join {
  font-size: 2.2rem !important;
  font-weight: bold;
  text-transform: capitalize;
}

.join-team:hover .join-team-container .join-img-bg {
  animation-play-state: paused;
}
.join-team:hover .join-text {
  animation-play-state: paused;
}

@media only screen and (max-width: 800px) {
  .join-team {
    transform: translateY(-1rem);
  }
  .team-container {
    margin-top: 6rem;
    grid-template-columns: repeat(2, 45%);
    justify-content: center;
    row-gap: 5.8rem;
  }
  .join-team-container {
    margin-bottom: 2rem;
  }
  .join-team-container .join-img-bg {
    height: 10rem;
    width: 10rem;
  }
  .join-team-container img {
    width: 10rem;
    height: auto;
    filter: grayscale(100%);
    z-index: 1;
  }
  .join {
    transform: translateY(-80%);
    font-size: 1.2rem !important;
  }
}
